<h1 id="h1" style="text-align: center; margin-top: 1em; font-size: 5em;">How Many Times Greeted</h1>
 

{{#if userRecord}}
<h2 id="h2" style="text-align: center; manodemon rgin-top: 1em; font-size: 4em;  background-color: #4CAF50; color: white;">{{userRecord.user_name}} has been greeted {{userRecord.count}} time(s)</h1>
{{/if}}
  <a href="/greeted"><button style="margin-left: 35em; padding: 1em; margin-top: 5em;" type="button" class="home btn btn-success btn-lg" id="home" name="Homebtn">Previous</button></a>